In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

In [2]:
%%sql
SELECT * FROM sqlite_master WHERE type = 'table'

Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

In [3]:
%%sql
SELECT * FROM facts LIMIT 5;

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

In [4]:
%%sql
SELECT MIN(population), MAX(population), MIN(population_growth), MAX(population_growth) FROM facts;

Done.

[(0, 7256490011, 0.0, 4.02)]

In [5]:
%%sql
SELECT * FROM facts WHERE population <= (SELECT MIN(population) from facts)

Done.

[(250, 'ay', 'Antarctica', None, 280000, None, 0, None, None, None, None)]

In [6]:
%%sql
SELECT * FROM facts WHERE population == (SELECT MAX(population) from facts)

Done.

[(261, 'xx', 'World', None, None, None, 7256490011, 1.08, 18.6, 7.8, None)]

In [8]:
%%sql
SELECT AVG(population), AVG(area) from facts
where name <> 'World';

Done.

[(32242666.56846473, 555093.546184739)]

In [9]:
%%sql
SELECT * from facts
WHERE population > (SELECT AVG(population) FROM facts where name <> 'World')
AND area < (SELECT AVG(area) FROM facts where name <> 'world')

Done.

[(14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46),
 (65, 'gm', 'Germany', 357022, 348672, 8350, 80854408, 0.17, 8.47, 11.42, 1.24),
 (80, 'iz', 'Iraq', 438317, 437367, 950, 37056169, 2.93, 31.45, 3.77, 1.62),
 (83, 'it', 'Italy', 301340, 294140, 7200, 61855120, 0.27, 8.74, 10.19, 4.1),
 (85, 'ja', 'Japan', 377915, 364485, 13430, 126919659, 0.16, 7.93, 9.51, 0.0),
 (91, 'ks', 'Korea, South', 99720, 96920, 2800, 49115196, 0.14, 8.19, 6.75, 0.0),
 (120, 'mo', 'Morocco', 446550, 446300, 250, 33322699, 1.0, 18.2, 4.81, 3.36),
 (138, 'rp', 'Philippines', 300000, 298170, 1830, 100998376, 1.61, 24.27, 6.11, 2.09),
 (139, 'pl', 'Poland', 312685, 304255, 8430, 38562189, 0.09, 9.74, 10.19, 0.46),
 (163, 'sp', 'Spain', 505370, 498980, 6390, 48146134, 0.89, 9.64, 9.04, 8.31),
 (173, 'th', 'Thailand', 513120, 510890, 2230, 67976405, 0.34, 11.19, 7.8, 0.0),
 (182, 'ug', 'Uganda', 241038, 197100, 43938, 37101745, 3.24, 43.79, 10.69, 0.74),
 (185, 'uk', 'United Kingdom', 243610, 241930, 1680, 64088222, 0.54, 12.17, 9.35, 2.54),
 (192, 'vm', 'Vietnam', 331210, 310070, 21140, 94348835, 0.97, 15.96, 5.93, 0.3)]

In [11]:
%%sql
SELECT name as Country, CAST(area_water as float) / CAST(area_land as float) as ratio
From facts
ORDER BY ratio DESC;

Done.

[('British Indian Ocean Territory', 905.6666666666666),
 ('Virgin Islands', 4.520231213872832),
 ('Puerto Rico', 0.5547914317925592),
 ('Bahamas, The', 0.3866133866133866),
 ('Guinea-Bissau', 0.2846728307254623),
 ('Malawi', 0.25939625850340137),
 ('Netherlands', 0.22571032366565366),
 ('Uganda', 0.22292237442922375),
 ('Eritrea', 0.16435643564356436),
 ('Liberia', 0.15623961794019933),
 ('Bangladesh', 0.1405085657217485),
 ('Gambia, The', 0.116600790513834),
 ('Taiwan', 0.1153130812151271),
 ('Finland', 0.11299639583299047),
 ('India', 0.10563390940312317),
 ('Canada', 0.09799992456155804),
 ('Sweden', 0.09738384490720996),
 ('Colombia', 0.09647636468662751),
 ('Brunei', 0.0949667616334283),
 ('Guyana', 0.09205025171578214),
 ('French Polynesia', 0.08884243532793311),
 ('Nicaragua', 0.08650720893407784),
 ('Burundi', 0.0837227414330218),
 ('Iran', 0.07612978626856316),
 ('United States', 0.07255091319919764),
 ('Tanzania', 0.06942876495822985),
 ('Vietnam', 0.06817815332021801),
 ('Rwanda', 0.06769904329495703),
 ('Estonia', 0.06700009436633009),
 ('Norway', 0.06415101780585115),
 ('Armenia', 0.054604120129064286),
 ('Tunisia', 0.05310247167868177),
 ('Uzbekistan', 0.051716031969910675),
 ('Indonesia', 0.0513367141963679),
 ('Suriname', 0.05012820512820513),
 ('Albania', 0.04927366961092051),
 ('Ghana', 0.048344635723169826),
 ('Azerbaijan', 0.048058187803313605),
 ('Togo', 0.044129815206398824),
 ('Russia', 0.04399263341674328),
 ('Kyrgyzstan', 0.04249195781043894),
 ('Tonga', 0.04184100418410042),
 ('Ukraine', 0.04180691488443547),
 ('Lithuania', 0.041799617102744095),
 ('West Bank', 0.03900709219858156),
 ('Gabon', 0.03880978161735884),
 ('Turkmenistan', 0.038665333134722195),
 ('Hungary', 0.038166235157575217),
 ('Latvia', 0.03759096531671192),
 ('Romania', 0.03697404422095689),
 ('Japan', 0.036846509458551106),
 ('Burma', 0.03530178666519767),
 ('Congo, Democratic Republic of the', 0.03432216697661452),
 ('Venezuela', 0.034011677342554274),
 ('Pakistan', 0.03271606940165397),
 ('Hong Kong', 0.032618825722273995),
 ('Solomon Islands', 0.03251625812906453),
 ('Switzerland', 0.032002400180013504),
 ('Moldova', 0.029187315679061143),
 ('China', 0.029009018475490568),
 ('Korea, South', 0.028889806025588115),
 ('Poland', 0.027707022070302872),
 ('Iceland', 0.02743142144638404),
 ('Montenegro', 0.026761819803746655),
 ('Nepal', 0.02671763712844696),
 ('Botswana', 0.026467630088401885),
 ('Laos', 0.025996533795493933),
 ('Cambodia', 0.025606888932951873),
 ('Italy', 0.024478139661385734),
 ('Ecuador', 0.02427386116940771),
 ('Germany', 0.023948008443465493),
 ('Paraguay', 0.023785432743857318),
 ('Belarus', 0.023164120256283883),
 ('Papua New Guinea', 0.022037715850373184),
 ('Bulgaria', 0.022029883213966393),
 ('Senegal', 0.02177323014595128),
 ('Israel', 0.02164289227742253),
 ('Czech Republic', 0.02097168822090178),
 ('Ireland', 0.02017914434621024),
 ('Kenya', 0.019726253645851635),
 ('Chad', 0.019695044472681066),
 ('Slovakia', 0.01933270969753664),
 ('Brazil', 0.018859459161966657),
 ('Tajikistan', 0.018302593456292843),
 ('Turkey', 0.018099559269884827),
 ('Benin', 0.018079586339064563),
 ('Austria', 0.017296379404451452),
 ('Lebanon', 0.016617790811339198),
 ('Mozambique', 0.016531447900506115),
 ('Chile', 0.01652299236903949),
 ('Saint Lucia', 0.0165016501650165),
 ('Somalia', 0.016450488334021428),
 ('New Caledonia', 0.016415868673050615),
 ('Mali', 0.016392529032363812),
 ('Guatemala', 0.016144234268703515),
 ('Argentina', 0.015971849204696183),
 ('Denmark', 0.015553565537069332),
 ('El Salvador', 0.015443270112446311),
 ('Sri Lanka', 0.01516323688689463),
 ('Jamaica', 0.01477241251961961),
 ('Singapore', 0.01455604075691412),
 ('Panama', 0.014527845036319613),
 ('Nigeria', 0.014273667937389104),
 ('Bolivia', 0.014105036365700761),
 ("Cote d'Ivoire", 0.014025024921148543),
 ('Spain', 0.012806124493967693),
 ('Zambia', 0.012402508481324943),
 ('Croatia', 0.011076571265230286),
 ('Macedonia', 0.011009318601816538),
 ('Mexico', 0.010509556597537481),
 ('Zimbabwe', 0.010107355104214328),
 ('Greece', 0.010027019372813766),
 ('Cuba', 0.00947004188672373),
 ('Madagascar', 0.009459366509612408),
 ('Kazakhstan', 0.009334370485609512),
 ('Swaziland', 0.009300162752848175),
 ('Syria', 0.008440886565376027),
 ('Belgium', 0.008256820133430213),
 ('Australia', 0.007669578121135597),
 ('Dominican Republic', 0.007243377483443708),
 ('Belize', 0.00701569762343243),
 ('United Kingdom', 0.006944157400901087),
 ('Haiti', 0.006894049346879536),
 ('Uruguay', 0.006856555152415508),
 ('Mongolia', 0.006797308883619258),
 ('Portugal', 0.006778178637804745),
 ('Philippines', 0.006137438374081899),
 ('Jordan', 0.006080944122880115),
 ('Slovenia', 0.006054290109671977),
 ('Egypt', 0.006027424782761565),
 ('Cameroon', 0.005775211017325633),
 ('France', 0.005268360016051791),
 ('Mauritius', 0.0049261083743842365),
 ('Thailand', 0.004364931785707295),
 ('Peru', 0.004078137744180451),
 ('South Africa', 0.0038041285499024265),
 ('Malaysia', 0.0036207961491768015),
 ('Samoa', 0.003544842254519674),
 ('Iraq', 0.0021720888864500522),
 ('Honduras', 0.00178746983644651),
 ('Sierra Leone', 0.0016755096341803965),
 ('Congo, Republic of the', 0.0014641288433382138),
 ('Burkina Faso', 0.0014609203798392988),
 ('Namibia', 0.001217068104799038),
 ('Cyprus', 0.0010821339681852614),
 ('Korea, North', 0.0010796624808982792),
 ('Djibouti', 0.0008628127696289905),
 ('Costa Rica', 0.0007833920877399138),
 ('Guinea', 0.0005697611479873187),
 ('Morocco', 0.000560161326462021),
 ('Niger', 0.00023683587274019106),
 ('Bosnia and Herzegovina', 0.0001953621036591322),
 ('Afghanistan', 0.0),
 ('Algeria', 0.0),
 ('Andorra', 0.0),
 ('Angola', 0.0),
 ('Antigua and Barbuda', 0.0),
 ('Bahrain', 0.0),
 ('Barbados', 0.0),
 ('Bhutan', 0.0),
 ('Cabo Verde', 0.0),
 ('Central African Republic', 0.0),
 ('Comoros', 0.0),
 ('Dominica', 0.0),
 ('Equatorial Guinea', 0.0),
 ('Fiji', 0.0),
 ('Georgia', 0.0),
 ('Grenada', 0.0),
 ('Kiribati', 0.0),
 ('Kosovo', 0.0),
 ('Kuwait', 0.0),
 ('Lesotho', 0.0),
 ('Libya', 0.0),
 ('Liechtenstein', 0.0),
 ('Luxembourg', 0.0),
 ('Maldives', 0.0),
 ('Malta', 0.0),
 ('Marshall Islands', 0.0),
 ('Mauritania', 0.0),
 ('Micronesia, Federated States of', 0.0),
 ('Monaco', 0.0),
 ('Nauru', 0.0),
 ('Oman', 0.0),
 ('Palau', 0.0),
 ('Qatar', 0.0),
 ('Saint Kitts and Nevis', 0.0),
 ('Saint Vincent and the Grenadines', 0.0),
 ('San Marino', 0.0),
 ('Sao Tome and Principe', 0.0),
 ('Saudi Arabia', 0.0),
 ('Serbia', 0.0),
 ('Seychelles', 0.0),
 ('Timor-Leste', 0.0),
 ('Trinidad and Tobago', 0.0),
 ('Tuvalu', 0.0),
 ('United Arab Emirates', 0.0),
 ('Vanuatu', 0.0),
 ('Yemen', 0.0),
 ('Ashmore and Cartier Islands', 0.0),
 ('Christmas Island', 0.0),
 ('Cocos (Keeling) Islands', 0.0),
 ('Coral Sea Islands', 0.0),
 ('Heard Island and McDonald Islands', 0.0),
 ('Norfolk Island', 0.0),
 ('Macau', 0.0),
 ('Faroe Islands', 0.0),
 ('Clipperton Island', 0.0),
 ('Saint Pierre and Miquelon', 0.0),
 ('Wallis and Futuna', 0.0),
 ('Aruba', 0.0),
 ('Curacao', 0.0),
 ('Sint Maarten', 0.0),
 ('Cook Islands', 0.0),
 ('Niue', 0.0),
 ('Tokelau', 0.0),
 ('Bouvet Island', 0.0),
 ('Jan Mayen', 0.0),
 ('Svalbard', 0.0),
 ('Anguilla', 0.0),
 ('Bermuda', 0.0),
 ('British Virgin Islands', 0.0),
 ('Cayman Islands', 0.0),
 ('Falkland Islands (Islas Malvinas)', 0.0),
 ('Gibraltar', 0.0),
 ('Guernsey', 0.0),
 ('Jersey', 0.0),
 ('Isle of Man', 0.0),
 ('Montserrat', 0.0),
 ('Pitcairn Islands', 0.0),
 ('Saint Helena, Ascension, and Tristan da Cunha', 0.0),
 ('South Georgia and South Sandwich Islands', 0.0),
 ('Turks and Caicos Islands', 0.0),
 ('American Samoa', 0.0),
 ('Guam', 0.0),
 ('Navassa Island', 0.0),
 ('Northern Mariana Islands', 0.0),
 ('Wake Island', 0.0),
 ('Gaza Strip', 0.0),
 ('Paracel Islands', 0.0),
 ('Spratly Islands', 0.0),
 ('Western Sahara', 0.0),
 ('Ethiopia', None),
 ('New Zealand', None),
 ('South Sudan', None),
 ('Sudan', None),
 ('Holy See (Vatican City)', None),
 ('European Union', None),
 ('Greenland', None),
 ('French Southern and Antarctic Lands', None),
 ('Saint Barthelemy', None),
 ('Saint Martin', None),
 ('Akrotiri', None),
 ('Dhekelia', None),
 ('United States Pacific Island Wildlife Refuges', None),
 ('Antarctica', None),
 ('Arctic Ocean', None),
 ('Atlantic Ocean', None),
 ('Indian Ocean', None),
 ('Pacific Ocean', None),
 ('Southern Ocean', None),
 ('World', None)]

From the data, It seems like British Indian Ocean Territory has teh highest ratios of water to land followed by Virgin Islands that also has more water than land.

In [12]:
%%sql
SELECT * FROM facts
ORDER BY population_growth DESC
LIMIT 10;

Done.

[(162, 'od', 'South Sudan', 644329, None, None, 12042910, 4.02, 36.91, 8.18, 11.47),
 (106, 'mi', 'Malawi', 118484, 94080, 24404, 17964697, 3.32, 41.56, 8.41, 0.0),
 (29, 'by', 'Burundi', 27830, 25680, 2150, 10742276, 3.28, 42.01, 9.27, 0.0),
 (128, 'ng', 'Niger', None, 1266700, 300, 18045729, 3.25, 45.45, 12.42, 0.56),
 (182, 'ug', 'Uganda', 241038, 197100, 43938, 37101745, 3.24, 43.79, 10.69, 0.74),
 (141, 'qa', 'Qatar', 11586, 11586, 0, 2194817, 3.07, 9.84, 1.53, 22.39),
 (27, 'uv', 'Burkina Faso', 274200, 273800, 400, 18931686, 3.03, 42.03, 11.72, 0.0),
 (109, 'ml', 'Mali', 1240192, 1220190, 20002, 16955536, 2.98, 44.99, 12.89, 2.26),
 (219, 'cw', 'Cook Islands', 236, 236, 0, 9838, 2.95, 14.33, 8.03, None),
 (80, 'iz', 'Iraq', 438317, 437367, 950, 37056169, 2.93, 31.45, 3.77, 1.62)]

South Sudan shows maximum population growth followed by Malawi and Brundi.

In [13]:
%%sql
SELECT name as Country, birth_rate, death_rate
From facts
WHERE death_rate > birth_rate;

Done.

[('Austria', 9.41, 9.42),
 ('Belarus', 10.7, 13.36),
 ('Bosnia and Herzegovina', 8.87, 9.75),
 ('Bulgaria', 8.92, 14.44),
 ('Croatia', 9.45, 12.18),
 ('Czech Republic', 9.63, 10.34),
 ('Estonia', 10.51, 12.4),
 ('Germany', 8.47, 11.42),
 ('Greece', 8.66, 11.09),
 ('Hungary', 9.16, 12.73),
 ('Italy', 8.74, 10.19),
 ('Japan', 7.93, 9.51),
 ('Latvia', 10.0, 14.31),
 ('Lithuania', 10.1, 14.27),
 ('Moldova', 12.0, 12.59),
 ('Monaco', 6.65, 9.24),
 ('Poland', 9.74, 10.19),
 ('Portugal', 9.27, 11.02),
 ('Romania', 9.14, 11.9),
 ('Russia', 11.6, 13.69),
 ('Serbia', 9.08, 13.66),
 ('Slovenia', 8.42, 11.37),
 ('Ukraine', 10.72, 14.46),
 ('Saint Pierre and Miquelon', 7.42, 9.72)]